.button {
    padding: 5px 15px;
    border: 1px solid #00000090;
    border-radius: 5px;
    background: transparent;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    margin: 5px 10px;
}

.button.button--active {
    background: limegreen;
    color: white;
}

.button:hover {
    background: #00000020;
}

.button.button--active:hover {
    background: #32CD3250;
    color: white;
}

.button:active {
    background: #00000030;
}

.button.button--active:active {
    background: #32CD3290;
    color: white;
}