.menu {
    min-width: 300px;
    display: flex;
    box-shadow: 1px 10px 20px #00000030;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
}

.menu a {
    text-decoration: none !important;
    color: inherit;
}

.menu-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 50px;
    cursor: pointer;
    transition: background-color, color .3s;
}

.menu-item--active {
    background-color: #61b7a2;
    color: #ffffff;
    transition: background-color, color .3s;
    font-weight: bold;
}

.menu-item:hover {
    background: rgba(0, 68, 102, .1);
    transition: background-color .3s;
}

.menu-item--active:hover {
    background-color: #02b286;
    transition: background-color .3s;
}

.icon {

}

.label {
    margin-left: 10px;
}